<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome !!</h1>
        {% with notifications = get_flashed_messages() %}
            {% if notifications %}
                <ul class="notification-list">
                    {% for notification in notifications %}
                        <li class="notification">{{ notification }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="post">
            <label for="username">UserID </label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <input type="submit" value="Sign In">
        </form>
        <p>Need a new account ? <a href="{{ url_for('signup') }}">Create one</a></p>
    </div>
</body>
</html>
